body {
  margin: 0;
  padding: 0;
}

header {
  margin: 5vh;
  margin-bottom: 2.5vh;
  text-align: center;
}

.starter-links {
  padding-right: 5vh;
  padding-left: 5vh;

  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

header h1 {
  padding-top: 5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 5vh;
}

#game {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 65vh;
  width: 60vh;
}

#move-counter {
  margin: auto;
  height: 5vh;

  font-family: 'Roboto', sans-serif;
  font-size: 4vh;
}

#game table {
  border-collapse: collapse;
  height: 60vh;
  width: 60vh;
}

#game td {
  height: 11vh;
  width: 11vh;
  text-align: center;

  border-width: 2vh;
  border-style: solid;
  border-color: rgb(161, 94, 34);

  background-color: rgb(235, 235, 235);
  color: rgb(75, 75, 75);

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 5vh;
}
