
body {
  margin: 0;
  padding: 0;
}

header {
  margin: 5vh;
  margin-bottom: 2.5vh;
  text-align: center;
}

.starter-links {
  padding-right: 5vh;
  padding-left: 5vh;

  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

header h1 {
  padding-top: 5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 5vh;
}

#score-counter {
  margin: auto;
  height: 6vh;
  width: 64vh;

  font-family: 'Roboto', sans-serif;
  font-size: 4vh;
}

#score-counter td {
  text-align: center;
}

#board {
  margin: auto;
  height: 64vh;
  width: 64vh;

  border-collapse: collapse;
}

#board td {
  height: 7vh;
  width: 7vh;

  border-width: 0.25vh;
  border-style: solid;
  border-color: black;

  background-color: rgb(0, 144, 103);
}

.piece {
  margin: auto;
  height: 6vh;
  width: 6vh;

  pointer-events: none;

  border-radius: 50%;
  border-width: 0.2vh;
  border-style: solid;
  border-color: black;
}

.blank {
  display: none;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.preview {
  background-color: rgb(0, 144, 103);
}
