body {
  margin: 0;
  padding: 0;
}

header {
  margin: 5vh;
  margin-bottom: 2.5vh;
  text-align: center;
}

.starter-links {
  padding-right: 5vh;
  padding-left: 5vh;

  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

header h1 {
  margin-bottom: 0vh;
  padding-top: 5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 5vh;
}

#game-container {
  display: flex;
  flex-direction: column;

  margin: auto;
  height: 67.5vh;
  width: 54.5vh;
}

#line-counter {
  margin: auto;
  margin-bottom: 0vh;
  height: 5vh;

  font-family: 'Roboto', sans-serif;
  font-size: 4vh;
}

#game {
  display: flex;

  height: 60vh;
  width: 54.5vh;
}

#hold-queue {
  height: 60vh;
  width: 13.625vh;
}

#playfield {
  height: 60vh;
  width: 27.25vh;
}

#next-queue {
  height: 60vh;
  width: 13.625vh;
}

#disclaimer {
  height: 2.5vh;
  width: 54.5vh;

  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  font-weight: bold;
  text-align: center;
}
