body {
  margin: 0;
  padding: 0;
}

header {
  margin: 5vh;
  margin-bottom: 2.5vh;
  text-align: center;
}

.starter-links {
  padding-right: 5vh;
  padding-left: 5vh;

  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

header h1 {
  padding-top: 5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 5vh;
}

#game {
  margin: auto;
  height: 60vh;
  width: 75vh;
}
